.featured-products {
    align-items: center;
    padding: 0 20px;
}

.section-title {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 96px; /* 150% */
    letter-spacing: -1.28px;
}

.products-grid {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
